<div class="row">
<section class="main col-md-9">
<article>
<h2>About</h2>
<p>My name is Ayush Goyal and I came to Canada as an international student studying Computer Programming at Seneca College. </p>
            <p>I am  currently enrolled in a program that covers a wide range of computer science topics, including data structures, algorithms, web development and software development. In this course I am also gaining knowledge about different coding languages</p>
            <p>I as a programming student is deeply interested in the field of artificial intelligence and machine learning, and hopes to gain hands-on experience in these areas during my time at Seneca.</p>
            <p>My ultimate goal is to work in the field of database management in a leading tech company and make a positive impact in the field of technology. </p>
            <p>With my passion for programming and a strong work ethic, I am determined to succeed in my studies and achieve my career goals.</p>
            </article>
</section>
<aside class="col-md-3">
<h2>Coming Soon</h2>
<p>Be the one to see the updates first...</p>
</aside>
</div>